/*-- scss:defaults --*/
@font-face {
  font-family: "Sanfrisco";
  src: url("font/Sanfrisco.ttf");
  //src: url("Tahoma.woff") format("woff"),
  //url("Sanfrisco.ttf") format("truetype"),
}

@font-face {
  font-family: "BodoniStd";
  src: url("font/BodoniStd.otf");
  //src: url("Tahoma.woff") format("woff"),
  //url("Tahoma.ttf") format("truetype"),
}

@font-face {
  font-family: "BodoniStd-Book";
  src: url("font/BodoniStd-Book.otf");
  //src: url("Tahoma.woff") format("woff"),
  //url("Tahoma.ttf") format("truetype"),
}

@font-face {
  font-family: "BodoniStd-Italic";
  src: url("font/BodoniStd-BookItalic.otf");
  //src: url("Tahoma.woff") format("woff"),
  //url("Tahoma.ttf") format("truetype"),
}

@font-face {
  font-family: "Los Altos";
  src: url("font/LosAltos.ttf");
  //src: url("Tahoma.woff") format("woff"),
  //url("Tahoma.ttf") format("truetype"),
}

p, ol, ul, dl, li {
  font-family: "BodoniStd-Book";
  font-size: 1.5em;
}

html h2 {
  font-family: "BodoniStd";
  font-size: 2em;
}

html h3 {
  font-family: "BodoniStd";
  font-size: 1.75em;
}

html h5 {
  font-family: "BodoniStd";
  font-size: 1.65em;
}

html h6 {
  font-family: "BodoniStd-Italic";
  font-size: 1.5em;
}

.aos-ul {
  font-size: 1em;
  list-style: none;
  padding-left: 5px; /* Spazio per il simbolo */
}

.aos-ul li::before {
  content: '✦';
  font-size: 0.5em; /* Cambia la grandezza del simbolo */
  margin-right: 10px; /* Spazio tra il simbolo e il testo */
  color: #000; /* Colore del simbolo */
}

.ul-related-articles {
  font-size: 1em;
  list-style: none;
  padding-left: 5px; /* Spazio per il simbolo */
}

.ul-related-articles li::before {
  content: '✿';
  font-size: 0.5em; /* Cambia la grandezza del simbolo */
  margin-right: 10px; /* Spazio tra il simbolo e il testo */
  color: #000; /* Colore del simbolo */
}

/*-- scss:rules --*/
.quarto-title > h1.title {
  display: none !important;
  visibility: hidden;
  opacity: 0 !important;
}
.grid-gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  float: left;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}
.grid-gallery-image {
  align-self: auto;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}
.grid-gallery-image-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.img-title-works {
  width: 65%;
  height: 65%;
  border-radius: 8px;
  margin-top: 2vh;
  margin-bottom: 6vh;
}
.sidebar.sidebar-navigation {
  //font-family: "Los Altos";
  background-color: #ffffff !important;
  justify-content: center;
}
.sidebar.sidebar-navigation li {
  font-family: "Los Altos";
  background-color: #ffffff !important;
  justify-content: center;
}
.footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

// menù di navigazione di sinistra
nav[role="doc-toc"] li {
  font-size: 1em;
  font-family: "Los Altos";
}

@media (max-width: 991.98px) {
    #quarto-header {
      visibility: hidden;
      display: none;
    }
    header.headroom--unpinned {
      visibility: hidden;
      display: none;
    }
    .quarto-secondary-nav {
      visibility: hidden;
      display: none;
    }
    .navbar {
      display: block;
      visibility: visible;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      margin: auto !important;
      background-color: #ffffff !important;
      z-index: 9999;
    }
    .navbar a:link {
      color: black !important;
      text-decoration: none;
    }
    .navbar a:visited {
      color: black !important;
      text-decoration: none;
    }
    .navbar a:hover {
      color: black !important;
      text-decoration: none;
    }
    .navbar a:active {
      color: black !important;
      text-decoration: none;
    }
    .other-links {
      font-family: "Los Altos";
      font-size: 1em;
    }
    .index-logo {
      font-size: 1.2em;
      color: black !important;
    }
    .mobile-index {
      font-family: "BodoniStd-Book";
      font-size: 1.5em;
      color: "#000000";
    }
}
@media (min-width: 991.98px) {
  .mobile-index {
    display: none;
    visibility: hidden;
  }
  .navbar {
    display: none;
    visibility: hidden;
  }
}
