/*-- scss:defaults --*/
@font-face {
  font-family: "Tahoma";
  src: url("Tahoma.ttf");
  src: url("Tahoma.woff") format("woff"),
  url("Tahoma.ttf") format("truetype"),
}

/*-- scss:rules --*/
.quarto-title > h1.title {
  display: none !important;
  visibility: hidden;
  opacity: 0 !important;
}
.navbar {
  background-color: #ff0000;
}
.grid-gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  float: left;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}
.grid-gallery-image {
  align-self: auto;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}
.grid-gallery-image-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.img-title-works {
  width: 65%;
  height: 65%;
  border-radius: 8px;
  margin-top: 2vh;
  margin-bottom: 6vh;
}
.sidebar.sidebar-navigation {
  justify-content: center;
}
.footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991.98px) {
    #quarto-header {
      visibility: hidden;
      display: none;
    }
    header.headroom--unpinned {
      visibility: hidden;
      display: none;
    }
    .quarto-secondary-nav {
      visibility: hidden;
      display: none;
    }
    //.mobile-index {
    //  display: inline;
    //}
    .navbar {
      display: block;
      visibility: visible;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      margin: auto !important;
      background-color: #002b36 !important;
      z-index: 9999;
    }
}
@media (min-width: 991.98px) {
  .mobile-index {
    display: none;
    visibility: hidden;
  }
  .navbar {
    display: none;
    visibility: hidden;
  }
}
